out
dist
node_modules
.vscode-test/
*.vsix
commitlint.config.ts
commitlint.config.js
commitlint.config.js
commitlint.config.js.map
jest.config.js.map
jest.config.js
.env
.env
commitlint.config.js
jest.config.js
